<div header body class="flex flex-1 bg-gradient-to-tl from-blue-primary to-coral h-screen items-center justify-center">
<div class="login-container flex justify-center">
  <form class="w-80" [formGroup]="loginForm.loginForm" (ngSubmit)="onSubmit()">
    <h2 class="mt-10">Entrar</h2>

    <div class="form-group">
      <input
        placeholder="Email"
        type="email"
        id="email"
        formControlName="email"
        class="form-control h-16 w-full"
        pInputText
      />
      @if (loginForm.email?.invalid && loginForm.email?.touched) {
      <div class="error">
        Email é obrigatório e deve ser válido
      </div>
    }
    </div>

    <div class="form-group">
      <input
        placeholder="Senha"
        type="password"
        id="password"
        formControlName="password"
        class="form-control h-16 w-full"
        pInputText
      />
    @if (loginForm.password?.invalid && loginForm.password?.touched) {
      <div class="error">
        Senha é obrigatória
      </div>
      }
    </div>

    <p-button class="no-border" label="Esqueceu a senha?" [text]="true" [link]="true" />

    <div class="grid grid-cols-2 mb-10 mt-4 justify-between">
    <p-button type="submit" [rounded]="true" class="btn btn-primary" size="large">
      Login
    </p-button>
    <p-button type="submit" [text]="true"  class="btn" size="large"(click)="onCreateAccount()">
      Criar conta
    </p-button>
  </div>
  </form>
</div>
</div>
